@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 243 100% 100%;
    --foreground: 243 5% 10%;
    --card: 243 50% 100%;
    --card-foreground: 243 5% 15%;
    --popover: 243 100% 100%;
    --popover-foreground: 243 100% 10%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 205 30% 95%;
    --muted-foreground: 243 5% 40%;
    --accent: 205 30% 90%;
    --accent-foreground: 243 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 243 5% 100%;
    --border: 243 30% 82%;
    --input: 243 30% 50%;
    --ring: 243 75.4% 58.6%;
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  .dark {
    --background: 243 50% 10%;
    --foreground: 243 5% 100%;
    --card: 243 50% 10%;
    --card-foreground: 243 5% 100%;
    --popover: 243 50% 5%;
    --popover-foreground: 243 5% 100%;
    --primary: 243 75.4% 58.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 243 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 205 30% 25%;
    --muted-foreground: 243 5% 65%;
    --accent: 205 30% 25%;
    --accent-foreground: 243 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 243 5% 100%;
    --border: 243 30% 50%;
    --input: 243 30% 50%;
    --ring: 243 75.4% 58.6%;
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.page-container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
